<div class="container">
    <div class="tab-content">
        <table class="table mb-0">
            
            <thead class="table-head">
                <tr class="align-middle">
                    <th class="col-4">Информация аккаунта</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="table-body">
                <tr class="align-middle">
                    <td class="title">Фамилия</td>
                    <td class="text">{{user.lastName}}</td>
                </tr>
                <tr class="align-middle">
                    <td class="title">Имя</td>
                    <td class="text">{{user.firstName}}</td>
                </tr>
                <tr class="align-middle">
                    <td class="title">Отчество</td>
                    <td class="text">{{user.middleName}}</td>
                </tr>
                <tr class="align-middle">
                    <td class="title">User-Agent</td>
                    <td class="text">{{user.userAgent}}</td>
                </tr>
                <tr class="align-middle">
                    <td class="title last-row">Последний раз заходил</td>
                    <td class="text last-row">{{user.lastEntry | date:'d MMMM yyyy г., HH:mm':'GMT+3'}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>