<footer class="footer">
    <div class="footer-container container d-flex justify-content-between align-items-center">
        <p class="footer-text m-0">&copy; 2023 Foodie, Все права защищены.</p>
        <div class="d-flex gap-4 ms-4">
            <a class="text-decoration-none">
                <img src="../../../assets/images/footer/social-icon-github.svg" alt="GitHub" width="24" height="24">
            </a>
            <a class="text-decoration-none">
                <img src="../../../assets/images/footer/social-icon.svg" alt="Social link" width="24" height="24">
            </a>
        </div>
    </div>
</footer>