<div class="container">
    <h1 class="title">Панель администрирования</h1>

    <ul class="nav">
        <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active-link" class="nav-link px-0 pb-3 me-3">Управление пользователями</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/recipes" routerLinkActive="active-link" class="nav-link px-0 pb-3 ms-3">Управление рецептами</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>