<a [routerLink]="['/recipes', recipe.id]" class="text-decoration-none">
    <div class="card h-100">
        <img [src]="recipe.image" class="card-image h-100" alt="Recipe image">

        <button (click)="toggleFavorite($event, recipe.id ?? '')" class="favorite-btn position-absolute p-0 top-0 end-0">
            <img [src]="isFavorite ? '../../../assets/images/recipe/icon-like.svg' : '../../../assets/images/recipe/icon-not-like.svg'" alt="Like" width="48" height="48">
        </button>
        
        <div class="card-body text-start p-0 mt-4"> 
            <h3 class="card-title m-0">{{recipe.title}}</h3>
        </div>
            
        <div class="card-footer d-flex justify-content-between p-0 mt-4">
            <app-badge 
                [image]="'../../../assets/images/recipe/icon-time.svg'"
                [text]="recipe.timeCooking + ' Минут'"
            ></app-badge>
            <app-badge
                [image]="'../../../assets/images/recipe/icon-category.svg'"
                [text]="recipe.tags[0]"
            ></app-badge>
        </div>
    </div>
</a>