<div class="container my-3">
  <h3>Создать задачу</h3>

  <form [formGroup]="todoForm" class="d-flex gap-2">
    <input type="text" [maxlength]="maxLength" formControlName="newTodo" class="form-control">
    <button type="submit" [disabled]="todoForm.invalid" (click)="addTodo()" class="btn btn-primary">Добавить</button>
  </form>
</div>

<div class="container my-4">
  <h3>Список задач</h3>

  <ul class="list-group list-group-flush">
    <li *ngFor="let todo of todoList" class="list-group-item d-flex justify-content-between">
      <div>
        <input type="checkbox" [checked]="todo.isCompleted" (change)="toggleCompletion(todo.id)" class="form-check-input me-2">
        <span [ngClass]="{'text-decoration-line-through': todo.isCompleted}">{{todo.text}}</span>
      </div>
      <button (click)="deleteTodo(todo.id)" class="btn btn-danger btn-sm">Удалить</button>
    </li>
  </ul>
</div>