<div class="container m-4">
    <div class="d-grid gap-2 col-3 mx-auto">
        <button type="button" (click)="getAllPosts()" class="btn btn-outline-primary">1) Получить все посты</button>
        <button type="button" (click)="getComments()" class="btn btn-outline-primary">2) Получить комментарии к 1 посту</button>
        <button type="button" (click)="createPost()" class="btn btn-outline-primary">3) Создать пост</button>
        <button type="button" (click)="getPost()" class="btn btn-outline-primary">4) Получить пост</button>
        <button type="button" (click)="getAllPostsText()" class="btn btn-outline-primary">5) Получить все посты (текст)</button>
        <button type="button" (click)="deletePost()" class="btn btn-outline-primary">6) Удалить пост</button>
        <button type="button" routerLink="/post" class="btn btn-outline-primary">7) Получить пост (в новом компоненте)</button>
    </div>
</div>
<router-outlet></router-outlet>