<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand mb-0 h1">Меню</a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
                <a routerLink="/posts" class="nav-link" routerLinkActive="active">Посты</a>
            </div>
            <div class="navbar-nav ms-auto">
                <span class="nav-link">Текущая роль:</span>
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <ng-container [ngSwitch]="roleService.role">
                            <ng-container *ngSwitchCase="'user'">Пользователь</ng-container>
                            <ng-container *ngSwitchCase="'admin'">Администратор</ng-container>
                        </ng-container>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><button (click)="setUserRole()" class="dropdown-item btn btn-link">Пользователь</button></li>
                        <li><button (click)="setAdminRole()" class="dropdown-item btn btn-link">Администратор</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>